* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "f1Font";
  p,
  h1,
  h3 {
    color: var(--cor-fundo);
  }
  .red {
    color: var(--cor-primaria);
  }
}

:root {
  --cor-primaria: #e10600;
  --cor-secundaria: #ea514c;
  --cor-fundo: #f1f1f1;
  --cor-texto: #0e0e0e;
  --cor-bg-header: #252525;
}

@font-face {
  font-family: "f1Font";
  src: url("font/Formula1-Regular_web_0.ttf") format("truetype");
}

@font-face {
  font-family: "f1FontBold";
  src: url(font/Formula1-Bold_web_0.ttf) format("truetype");
}

body {
  background-color: var(--cor-texto);
}

header img {
  width: 6rem;
  height: 4rem;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  height: 5rem;
  background-color: var(--cor-bg-header);
}

#search {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 1.25rem;
  left: 22rem;
}

#menu {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 1.25rem;
  right: 22rem;
}

.begning h1 {
  color: var(--cor-fundo);
  font-family: "f1FontBold";
}

.begning {
  margin: 4rem;
  display: flex;
  justify-content: space-around;
}

#red {
  color: var(--cor-primaria);
}

.title {
  margin: 4rem;
}

.title h3 {
  color: var(--cor-fundo);
  font-size: 0.9rem;
  margin: 1rem;
}

.title ul {
  color: var(--cor-fundo);
  font-size: 0.7rem;
  margin: 1rem;
}

#grid {
  width: 40rem;
  border-radius: 0.75rem;
}

#hamilton {
  width: 40rem;
  border-radius: 0.75rem;
}

.secTwo {
  margin: 4rem;
  display: flex;
}

.secTwoInfo {
  margin: 4rem;
}

.secTwoInfo h3 {
  color: var(--cor-fundo);
  font-size: 0.9rem;
  margin: 1rem;
}

.secTwoInfo p {
  font-size: 0.7rem;
  margin: 1rem;
}

.howGrid {
  display: flex;
  justify-content: center;
}

.how {
  display: flex;
  justify-content: center;
}

.centerRed {
  display: flex;
  justify-content: center;
}

.centerRed h1 {
  font-size: 4rem;
}

.hgtitle {
  margin: 6rem;
}

.carousel {
  margin: 4rem;
  width: 80rem;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-container {
  display: flex;
  width: 50rem;
  animation: slide 6s infinite;
}

.carousel-container img {
  width: 50rem;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
