* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "f1Font";
  src: url("font/Formula1-Regular_web_0.ttf") format("truetype");
}

@font-face {
  font-family: "f1FontBold";
  src: url(font/Formula1-Bold_web_0.ttf) format("truetype");
}

:root {
  --cor-primaria: #E10600;
  --cor-secundaria: #EA514C;
  --cor-fundo: #f1f1f1;
  --cor-texto: #0e0e0e;
  --cor-bg-header: #252525;
}

header img {
  width: 6rem;
  height: 4rem;
}

header {
  display: flex;
  justify-content: center;
  height: 5rem;
  background-color: var(--cor-bg-header);
}

body {
  background-color: var(--cor-texto);
}

#loginContainer {
  position: relative;
  top: 30vh;
  display: flex;
  justify-content: center;
}

form {
  font-family: "f1Font";
  display: flex;
  flex-direction: column;
  color: var(--cor-fundo);
  text-align: center;
  gap: 0.75rem;
}

input {
  width: 15rem;
  height: 3rem;
  background-color: var(--cor-texto);
  border: 2px solid var(--cor-primaria);
  border-radius: 2rem;
  color: var(--cor-fundo);
  padding: 1rem;
}
